*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Hind Siliguri", sans-serif;
}

.bg__main {
    background: #f1f2f4;
}

/* header */

.max-width {
    max-width: 1140px !important;
}

.nav-link:hover {
    background-color: #01062E;
    color: #fff !important;
    transition: all 0.5s ease-in-out;
}

.nav-link {
    color: #01062E !important;
    font-size: 18px !important;
}

.contact-btn {
    background-color: #01062E;
}

.social-fb:hover {
    color: rgb(0, 183, 255);
}

.social-yt:hover {
    color: rgb(231, 17, 17);
}

h3,
h5 {
    padding: 0px !important;
    margin: 0px !important;
}

.category__description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 0 .5rem !important;
    margin: 0.5rem 0 !important;
}

.btn-buy {
    background-color: #01062E !important;
}

/* search */

.input-field-group {
    position: relative;
}

.input-field {
    width: 100%;
    height: 50px;
    outline: 0;
    padding: 10px;
    padding-left: 40px;
    border-radius: 8px;
    border: 2px solid #000;
}

.icon-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-btn {
    position: relative;
    width: 0;
    height: 0;
    margin-right: 10px;
    accent-color: transparent;
    visibility: hidden;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-btn+label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.radio-btn:checked+label::before {
    background-color: green;
    border-color: white;
    border: 3px solid #fff;
}

.radio-btn:checked+label::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

/* category */

.category {
    background: #E3ECF9;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: 1px solid gray;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-img {
    height: 250px !important;
    width: auto;
}

/* table */

.tr,
td {
    background: #E3ECF9 !important;
}

/* footer */

footer {
    background-image: linear-gradient(180deg, #363643 0, #110e17 100%);
}

.footer-logo {
    width: 60%;
}

.footer-text {
    color: #d1cfcf;
    text-align: start;
}

.footer-link {
    color: #d1cfcf;
    display: block;
    font-weight: 500;
    line-height: 25px;
}

.social-links-top-right {
    justify-content: end;
}

@media (max-width: 992px) {

    .contact-btn {
        display: none !important;
    }

    .nav-item .nav-link {
        border-bottom: 2px solid #01062E;
    }

    .nav-item .nav-link {
        border-bottom: 2px solid #01062E;
    }

    .custom-padding {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .social-links-top-right {
        justify-content: center;
    }

    .category {
        gap: 2rem;
    }

    .empty-div {
        height: 1rem !important;
        width: 1rem;
        /* background: red; */
    }

    .pp__category__list {
        margin-top: 1rem !important;
    }
}

@media (max-width: 576px) {
    .nav-item .nav-link {
        font-size: 16px !important;
    }

    .nav-link {
        font-size: 16px !important;
    }

    .footer-elements {
        padding-top: 3rem;
        padding-left: 3rem;
    }

    .footer-logo {
        width: 30%;
    }

    .footer-text {
        max-width: 70%;
    }

    .--breadcrumb {
        display: none !important;
    }
}